<html>


<body bgcolor=#FFEBCD >
    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>Not likely to have heart disease</h1>  
    <img src="https://sd.keepcalms.com/i-w600/if-in-doubt-check-it-out.jpg">  
      
    
    {%else%}
    <h1>High probability that individual has heart disease</h1>
    <br></br>
    <a href="https://www.england.nhs.uk/contact-us/">Contact NHS</a>
    <br></br>
    <img src="https://images.fosterwebmarketing.com/988/Immediate-Medical-Attention.jpeg">
    
    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>